<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1976d2" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="./favicon.png" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link" tabindex="0">Menuju ke konten</a>
    <header>
      <h1>Resto Apps</h1>
      <button id="menu" class="header_menu" aria-label="navigation-menu">☰</button>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#/Favorite">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/safinabulan/" target="_blank">About Us</a></li>
        </ul>
      </nav>
    </header>

    <main id="main" tabindex="0"></main>

    <footer>
      <app-footer tabindex="0"></app-footer>
    </footer>
  </body>
</html>
